<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <perfect-scrollbar>
        <h5>Latest Issues</h5>
        <app-monitor class="card border-0 bg-dark text-white mb-3" [option]="option"
                     *ngFor="let option of monitors"></app-monitor>
      </perfect-scrollbar>
    </div>
    <div class="col-xl-6">
      <perfect-scrollbar>
        <h5>Infrastructure Status</h5>
        <app-servers class="card border-0 bg-dark text-white mb-3" [option]="option"
                     *ngFor="let option of servers"></app-servers>
      </perfect-scrollbar>
      <!-- <div class="card border-0 bg-dark text-white mb-3">
        <div class="card-body"></div>
      </div> -->
    </div>
  </div>
</div>
