<div class="car-body">
	<div class="serverStatus">
		<div><img src="assets/img/server.svg" alt=""></div>
		<div>
			<h5>{{option.server}}</h5>
			<p><span>Name</span><i></i></p>
			<p><span [attr.data-value]="option.db">DB</span><i></i></p>
			<p><span [attr.data-value]="option.f">API</span><i></i></p>
			<p><span [attr.data-value]="option.u">p80</span><i></i></p>
			<p><span [attr.data-value]="option">p8080</span><i></i></p>
		</div>
	</div>
	<div class="hdUseage">
		<div><span>HD:{{option.t}}</span><span>{{option.pct}}%</span></div>
		<div><p><span [ngStyle]="{width: option.pct + '%'}" [ngClass]="getUsage(option.pct)"></span></p></div>
	</div>
</div>