:host(app-usage) {
	display: block;
	height: 100%;
	& > div {
		height: 100%;
	}
	.card,
	.card-body {
		height: 100%;
	}
}

.useageList {
  margin: 0;
	padding: 0;
	li {
		display: flex;
		justify-content: space-between;
		padding: 5px 0;
	}
}

.top10box {
	h5 {
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px solid #ccc;
	}
}

.top10sum {
	display: flex;
	justify-content: space-between;
}

.top10sum {	
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid #ccc;
}