<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="card border-0 bg-dark text-white mb-3">
        <div class="card-body left-content">
          <div class="chart">
            <app-chart [option]="{option: option, min: min}"></app-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card border-0 bg-dark text-white mb-3">
        <div class="card-body top10box">
          <h5>top 10</h5>
          <ul class="useageList">
            <li *ngFor="let item of useageList;index as i;"><span>{{item.name_en}}</span><span>{{item.count}}</span>
            </li>
          </ul>
          <div class="top10sum">
            <span>order</span>
            <span>{{top10count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
