:host-context(app-dashboard) {
  display: block;
  width: 100%;
  height: 100%;
}

.breadcrumb-item {
  &.active {
    font-weight: bold;
  }
}

.container-fluid {
  height: 100%;
  display: flex;
  flex-direction: column;
}

//app-dashboard {
//  display: flex;
//  flex-direction: column;
//  min-height: 100%;
//}


.container {
  height: 100%;
}

#mapid {
  background-color: #fff;
  height: 100%;
  min-height: 400px;
}

.chart {
  width: 100%;
  height: 300px;
  position: relative;

  & > * {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }
}

.row {
  height: 100%;
  &:nth-child(1) {
    flex: 0 0 48px;
  }
}

#mapBox {
  height: 100%;

  .card {
    height: 100%;
  }
}

#allStatus {
  overflow: auto;

  h5 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;

    &:nth-child(1) {
      margin-top: 0;
    }

    &:nth-child(2) {
      margin-top: 20px;
    }
  }
}

.availabilityRate {
  text-align: center;
  font-size: 3rem;
}

.dashboardHead {
  //margin-left: 10px;
  display: flex;
  justify-content: flex-start;
}

#dropdown {
  margin-left: 30px;
}

@media screen and (max-width: 1200px) {
  #allStatus {
    h5 {
      &:nth-child(1) {
        margin-top: 20px;
      }
    }
  }
}
