<!-- begin breadcrumb -->
<ol class="breadcrumb float-xl-right">
  <li class="breadcrumb-item" *ngFor="let url of urls; index as i;" [ngClass]="{'active': i === urls.length - 1}"><a
    [routerLink]="getb(links)[i] + '/' +  links[i]">{{url}} </a></li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header mb-3">Monitored Equipment</h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row" id="mapBox">
  <div class="col-xl-12">
    <!-- begin card -->
    <div class="card border-0 bg-dark text-white mb-3">
      <!-- begin card-body -->
      <div class="card-body">
        <!-- begin row -->
        <div class="row">
          <div class="col-xl-8">
            <app-map [datas]="mapdata"></app-map>
          </div>

          <div class="col-xl-4" id="allStatus">
            <div id="equipmentStatusBox">
              <h5>Equipment Status</h5>
              <app-equipmentbox *ngIf="isHaskey('all_status', status)"
                                [option]="{status: status.all_status, title: 'All Equipment'}"></app-equipmentbox>

              <app-equipmentbox *ngIf="isHaskey('device_status', status)"
                                [option]="{status: status.device_status, title: 'Machines'}"></app-equipmentbox>

              <app-equipmentbox *ngIf="isHaskey('mon_status', status)"
                                [option]="{status: status.mon_status, title: 'Monitors'}"></app-equipmentbox>

              <app-equipmentbox *ngIf="isHaskey('outdoor_status', status)"
                                [option]="{status: status.outdoor_status, title: 'Outerdoor Monitors'}"></app-equipmentbox>
            </div>

            <h5>Equipment Availability Rate</h5>
            <div class="chart">
              <app-chart [option]="{option: option, min: min}"></app-chart>
            </div>
            <h6>Availability Rate</h6>
            <p class="availabilityRate">85.37%</p>

          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end card-body -->
    </div>
    <!-- end card -->
  </div>
</div>
<!-- end row -->
